// Solarized colors, for use in various places
$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

// Title font
@import "eunomia-font";

$body-background: $base3;
$body-font-color: $base00;

$primary-color: $magenta;
$secondary-color: $magenta;

$header-font-color: $base01;

@import "foundation";

.title-bar {
	&.primary {
		@include title-bar-style($base03, $base0);
		a, a:hover { color: $base0; }
		.title {
			font-family: "Eunomia", "Impact";
		}
	}
}
