// Start off with a browser normalize
@import "normalize";

// Colors, for use in various places
$light-bg: #ffe;
$normal-fg: #333;
$electric-green: #3f6;
$electric-blue: #36f;
$dark-bg: #034;
$light-fg: #fff;

// Title font
@import "eunomia-font";

.title-bar {
	&.primary {
		a, a:hover { color: $electric-green; }
		.title {
			font-family: "Eunomia", "Impact";
		}
	}
}
